---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>{frontmatter.description}</p>
  <p>By {frontmatter.author} on {new Date(frontmatter.pubDate).toDateString()}</p>
  <slot />
</BaseLayout>
